.main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    div {
        width: 100%;
    }
}